*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Sen';
}

/*Inicio Formatação Geral*/

html, body{
	border: 0;
	width: 100%;
	background: linear-gradient(0deg,#c7c7c7 10%, white 80%); 
    /*animation: fadeIn 2s linear;*/
}

main{
	width: 100%;
}

h1{
	font-size: 2.5em; 
	padding-bottom: 5px;
	text-align: center;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color: black;
}

hr{
	position: relative;
	left: 8%;
	width: 85%; 
}

/*Fim Formatação Geral*/


/*Inicio Transição de carregamento de pagina*/
@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

/*Inicio barra menu*/

nav{
	background-color: #003d6b; /*Cor de fundo*/
	position: fixed; /*Posição fixa*/
	width: 100%; /*Largura*/
	height: 80px; /*Altura*/
	z-index: 1;
}

nav > a.logo{
	position: absolute;
	bottom: 10px;
	font-size: 3em;
	font-weight: 700;
	color: white;
	text-indent: -9000px;
	background: url(img/logo-6.png) no-repeat;
	background-size: 100%;
	width: 250px;
	height: 80px;
}

nav > .cont-nav{
	position: absolute; 
    top: 20px; 
    right: 160px; 
    font-size: 1em; 
}

nav .menu li{
	display: inline;
}

nav .menu a{
	color: white;
	display: inline-block;
	padding: 10px;
	transition: 1s;
	border-radius: 20px;
}

nav .menu a:hover{
	transform: scale(1.2);
	color: black;  
	background-color: white; 
}

.icon{
	position: absolute;	
	right: 0px; 
	top: 0px; 
	width: 160px;
	height: 80px;
}

nav .icon .logo-face, nav .icon .logo-insta{
	float: left;
	width: 60px;
	height: 55px;
	margin: 10px 0px 0px 13px;
	transition: 1s;
}

nav .icon .logo-face{
	background: url(img/face.png) no-repeat center;
	background-size: 60%;
}

nav .icon .logo-insta{
	background: url(img/insta.png) no-repeat center;
	background-size: 60%;
}

nav .icon .logo-face:hover, nav .icon .logo-insta:hover{
	transform: scale(1.5);
}


/*Fim barra de menu*/


/*Inicio da formatação de imagens e transições */

.principal-foto{
    overflow:hidden;
}

.principal-foto figure {
	position: relative; 
	width: 500%; 
	margin: 0; 
	left: 0; 
	animation: 20s slide infinite;
}

.principal-foto figure img{
	width: 20%; 
	float: left;
}

@keyframes slide{
	0%{
		left: 0;
	}
	20%{
		left: 0;
	}
	50%{
		left:-100%;
	}
	60%{
		left: -100%;
	}
	75%{
		left:-200%;
	}
	90%{
		left: -200%;
	}

}

/*Fim da transição de imagem*/


/*Inicio conteudo e divisões*/

#sobre{
	padding: 60px 150px;
}

#sobre .esquerdo h6{
	font-size: 1.1em;
}

#sobre .esquerdo h2{
	font-size: 3.5em; 
}

#sobre .esquerdo, #sobre .direito{
	display: inline-block;
	width: 48%;
	overflow: hidden;
}

#sobre .direito p{
    padding: 19px;
	font-size: 1.1em; 
}

/*Fim do conteudo Sobre */

/*
 teste de marcação
.serviços li{
	list-style: unset; //tag que volta as marcações da ol e ul
}
*/


/*Inicio Simualção */

#simulação{
    margin: 60px 100px;
}

#simulação ul{
	margin: 0px auto;
}

#simulação ul > li{
    margin-top: 3%; 
    margin-left: 3%; 
    float: left;
    border: 2px solid #000000b7; 
    border-radius: 10px; 
    height: 440px;
    padding-left: 20px; 
    padding-right: 20px; 
    padding-top: 150px;  
}

#simulação ul > li:nth-child(1){
	margin-left: 10%;
}

#simulação li .valor-topo{
    position: relative; 
    bottom: 120px;
}

#simulação li .valor-topo h3{
	font-size: 1.3em;
	margin-bottom: 10px;
}

#simulação li .valor-topo hr{
	width: 100%;
	left: 0%;
}

#simulação li .valores{
    margin-top: 20px;
    position: relative; 
    bottom: 130px;
}

#simulação li .valores hr{
	width: 100%;
	left: 0%;	
}

#simulação li .valores .txt-one, #simulação li .valores .txt-two, #simulação li .valores .txt-three{
	display: inline-block;
    position: relative;
}

#simulação li .txt-one{ 
    font-size: 1.2em; 
    bottom: 20px; 
}

#simulação li .txt-two{ 
    font-size: 3em; 
}

#simulação li .txt-three{
    font-size: 1em;
    bottom: 15px;
}

#simulação li .txt{
    margin: 10px auto; 
    font-size: 0.7em; 
    position: relative; 
    bottom: 110px; 
	width: 100%;
    left: 9px; 
}

#simulação li .txt li::before{
	content: '✔️ ';
}

#simulação li a{
	margin-left: 17%;
}

#simulação li a span{
    text-align: center; 
    padding: 10px 23px; 
    color: white;
    background: linear-gradient(90deg, #81171B 0%, #BA2227 51%, #81171B 100%); 
	background-size: 200%;
	border-radius: 20px; 
	transition: 0.5s; 
}

#simulação li a span:hover{
	background-position: right center ;
}

/*Fim da simulaçao e lista*/


hr.simu{
	margin-top: 450px;
}


/*Inicio Produtos*/

#produtos{
	margin: 30px 150px;
}

#produtos li{
	text-align: center;
	float: left;
	margin: 30px auto;
	margin-left: 10px;
	width: 32%; 
}

/*Fim produtos*/


/*Inicio do maps*/

#mapa{
	height: 230px;
	margin: 250px 100px 255px 100px;
}

#mapa .iframe{
	position: relative;
	right: 6.7%;
	width: 57%;
}

#mapa .cont-mapa{
	position: relative;
	left: 50.5%;
	bottom: 197%;
	background-image: url(img/bufunfa.jpg); 
	width: 57%; 
	height: 450px; 
	text-align: center;
	color: white;
}

#mapa .fundo{
	background-color: #81171ba8;
	width: 100%;
	height: 450px;
}

#mapa .cont-map1{
	position: relative; 
	top: 60px;
	padding: 15px; 
}

#mapa .cont-mapa span{
	position: relative;
	top: 80px;
	padding: 15px;
	font-size: 3.5em;
	font-weight: bold; 
}

#mapa .cont-map3{
	position: relative; 
	top: 90px; 
	padding: 15px;
	color: white; 
	clear: both;
}

/*Fim conteudo map*/



/*Inicio contato*/

#contato{
	margin: 0px auto;
	text-align: center;
}

#contato .forms{
	margin: 20px 0px 0px 0px;
}

#contato .forms1{
	display: inline-block;
	width: 35%;
}

#contato .forms2{
	display: inline-block;
	width: 35%;
}


/*Formatação forms*/

#contato .forms input{
	outline: none;
}

.forms input[type="text"],[type="email"],[type="tel"],[type="onde"]{
	border: 0px; 
	margin: 25px; 
	padding: 5px; 
	background-color: transparent;
	width: 70%; 
	border-bottom: 1px solid white; 
	border-radius: 2px; 
}

/*Area de mensagem*/
.forms textarea{
	border: 0px;
	outline: none; 
	margin: 50px; 
	padding: 5px; 
	background-color: transparent; 
	width: 62%; 
	height: 150px; 
	border-bottom: 1px solid white; 
	border-radius: 2px; 
}

.forms input, ::placeholder{
	color: black;
	font-size: 1em;
}

.forms input[type="text"]:hover, .forms input[type="email"]:hover,.forms input[type="tel"]:hover, .forms input[type="onde"]:hover{
	width: 80%; /*Largura*/
}


.forms input[type="submit"]{
	border: 0px;
	background-color: white;
	color: black; 
	margin: 20px 5px 50px 5px; 
	padding: 5px; 
	width: 120px; 
	height: 43px; 
	border: 1px solid white; 
	border-radius: 21px; 
	transition: 1s; /*Transição*/
}

.forms input[type="submit"]:hover{
	transform: scale(1.2);
	color: white; /*Cor*/
	border: 1px solid #003d6b; /*Tamanho da borda, tipo e cor*/
	background-color: #003d6b; /*Cor de Fundo*/
}

/*Fim Forms*/

/*Fim contatos*/



/*Inicio Rodapé*/

#rodapé{
	width: 100%;
	background-color: #003d6b; 
}

.dentro{
	display: flex; /*Display flexivel*/
    justify-content: space-between; /*Espaço entre as divs*/
}

#rodapé a#foto-roda{
	color: white;
	font-size: 3em;
	text-indent: -9000px;
	background: url(img/logo-6.png) no-repeat center;
	background-size: 120%;
	top: 40px; 
	left: 100px; 
	position: relative;
	width: 250px; 
	height: 80px; 
}

#rodapé  .endereço{
	width: 40%;
	margin: 10px; 
	position: relative; 
	right: 35px; 
	text-align: center;
    color: #FFF; 
    font-size: 0.9em; 
	line-height: 2.5em;
}

#rodapé  .endereço span{
	display: block;
}

#rodapé  .endereço a{
	color: white;
	text-decoration: underline;
}

#rodapé .icon-roda{
	width: 170px;
	height: 80px;
	position: relative; 
    right: 20px; 
    top: 50px; 
}

#rodapé .icon-roda li{
	display: inline; 
}

#rodapé a.icon-one, #rodapé a.icon-two{
	float: left;
	width: 40%;
	margin: 10px 0px 0px 10px;
	height: 70px;
	transition: 1s;
}

#rodapé a.icon-one{
	background: url(img/face.png) no-repeat;
	background-size: 80%;
}

#rodapé a.icon-two{
	background: url(img/insta.png) no-repeat;
	background-size: 80%;
}


#rodapé .icon-roda a:hover{
	transform: scale(1.3);
}

.text-final{
	color: rgb(255,177,42);
	text-align: center; 
}

/*Fim rodapé*/



@media (min-width: 1170px) and (max-width: 1280px){
	#simulação{
		margin: 60px 150px;
	}

	#simulação ul > li{
		margin-left: 5%;
	}

	#simulação ul > li:nth-child(1){
		margin-left: 0%;
	}
}

@media (min-width: 1024px) and (max-width: 1230px){
	#sobre .esquerdo{
		margin-bottom: 100px;
	}
	#sobre .esquerdo h2{
		font-size: 2.5em;
	}

	#simulação{
		margin: 60px 80px;
	}

	#simulação ul > li{
		margin-left: 4%;
	}

	#simulação ul > li:nth-child(1){
		margin-left: -5%;
	}

	#produtos ul > li{
		margin-left: 8px;
	}

	#produtos ul > li:nth-child(1){
		margin-left: 0px;
	}

	#mapa{
		margin: 250px 90px;
	}

	#mapa .iframe{
	right: 9%;
	}

	#mapa .cont-mapa{
		left: 49.5%;
	}

	#rodapé a#foto-roda{
		left: 65px;
	}

}

@media (min-width:768px) and (max-width: 1023px){

	nav a.logo{
		top: 8%;
		left: 3%;
		bottom: 0px;
		background: url(img/logo-branco.png) no-repeat;
		background-size: 100%;
		height: 65px;
		width: 8%;
	}

	#sobre .esquerdo, #sobre .direito{
		display: block;
		width: 100%;
		margin-top: 50px;
	}

	#simulação{
		margin: 60px 100px;
	}

	#simulação ul > li{
		float: none;
		width: 50%;
		margin: 5% 25%;
	}

	#simulação ul > li:nth-child(1){
		margin-left: 25%;
	}

	hr.simu{
		margin: 0px;
	}

	#produtos{
		margin: 30px 85px;
	}

	#produtos ul > li{
		float: none;
		width: 100%;
	}

	#mapa{
		margin: 60px 50px 200px 50px;
	}

	#mapa .iframe{
		position: relative;
		left: 0.1%;
		width: 100%;
	}

	#mapa .cont-mapa {
		width: 100%;
		position: static;
	}

	#contato{
		margin: 90% 30px 5% 30px;
	}

	#contato .forms1, #contato .forms2{
		display: block;
		width: 100%;
	}		
	
	.forms input[type="text"],[type="email"],[type="tel"],[type="onde"]{
		margin-top: 50px;
	}

	.forms textarea{
		width: 70%;
	}

	#rodapé a#foto-roda{
		background: url(img/logo-branco.png) no-repeat center;
		background-size: 45%;
		height: 180px;
		left: 0%;
		top: 0px;
	}

}